<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
    <title>Semantic Role Labeler</title>
</head>
<body>
    <header>
        <h1>Semantic Role Labeler</h1>
    </header>
    <p>The labeler gets a set of labeled seed sentences (seed corpus) and a set of unlabeled sentences
        (expansion corpus)<br>and returns a subset of the expansion corpus with novel annotations.</p>
    <section id="input">
        <form method="post" action="{{ url_for('upload') }}" accept-charset=utf8 enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        Please insert labeled sentences in json format:<br>
                        <textarea name="labeled_file" cols="70" rows="10"></textarea>
                    </td>
                    <td>
                        Please insert unlabeled sentences in CoNLL-X format (separated by a newline):<br>
                        <textarea name="unlabeled_file" cols="70" rows="10" placeholder=""></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Please insert an integer value for k<br>(number of best newly labeled sentences for each seed sentence):<br>
                        <input type="number" name="k" min="1">
                    </td>
                <tr/>
                <tr>
                    <td>
                        Please insert the value of the threshold for the lexical similarity<br>(a number between 0 and 1):<br>
                        <input type="text" name="threshold" pattern="0.[0-9]*" min="0" max="1">
                    </td>
                </tr>
            </table>
            <input class="in" type="submit" value="Start Labeler"/>
        </form>
    </section>
    <p><a href="About">Read more about this project</a></p>
    <section id="footnotes">
        © written by : Efrat Hazani
        <br>
        Advisors: prof. Michal Elhadad and Avi Hayoun
        <br>
        Based on:
        <br>
        Hagen Furstenau and Mirella Lapata, 2012.
        <a href="http://www.mitpressjournals.org/doi/pdf/10.1162/COLI_a_00087">"Semi-Supervised Semantic Role Labeling via Structural Alignment"</a>,
        Association for Computational Linguistics.
    </section>
</body>
</html>